.u_p{
    text-align: center;
}
.textalain{
text-align: center;
}
.p{
  color: rgb(228, 46, 137);
  background-color: rgb(250, 192, 219);
  border-color: rgb(228, 46, 137);

}
.h3{
  color: rgb(228, 46, 137);
}
