
<div  novalida  class="Change"><br/><br/>
    <h3 class="h3">מנהל יקר ,על מנת לשנות את ססמתך עליך להכניס את הנתונים הבאים</h3>
    <!-- <div>
      <mat-form-field class="textalain">
        <mat-label > שם פרטי</mat-label>
        <input matInput class="inputText" formControlName="name"
        [(ngModel)]="user.firstName" required  minlength="2" maxlength="20">
       </mat-form-field><br/>
        <span  *ngIf="name.errors!=null && name.errors.required && name.touched">שדה חובה</span> -->
       <!-- <br/><br/>
      </div>
  <div>
  <mat-form-field class="textalain">
  <mat-label > שם משפחה</mat-label>
  <input matInput class="inputText" formControlName="name"
  [(ngModel)]="user.lastName" required  minlength="2" maxlength="20">
 </mat-form-field><br/>
 <br/><br/>
</div>  -->
<div>
  <mat-form-field class="textalain">
   <mat-label> שם פרטי </mat-label>
   <input matInput class="st"  #panew [(ngModel)]="user.firstName" required  maxlength =" 30 " minlength="4"/><br/><br/>
  </mat-form-field><br/><br/>
 </div>
 <div>
  <mat-form-field class="textalain">
   <mat-label> שם משפחה </mat-label>
   <input matInput class="st"  #panew [(ngModel)]="user.lastName" required  maxlength =" 30 " minlength="4"/><br/><br/>
  </mat-form-field><br/><br/>
 </div>
    <div>
     <mat-form-field class="textalain">
      <mat-label>סיסמא חדשה </mat-label>
      <input matInput class="st"  #panew [(ngModel)]="passwordnew" required  maxlength =" 30 " minlength="4"/><br/><br/>
     </mat-form-field><br/><br/>
    </div>
    <input class="butte" type="button" (click)="CodeUser(user.lastName,user.firstName,passwordnew)" value="אישור"><br/><br/>

    <!-- <input class="butte" type="button" (click)="ChangePassword(passwordold,passwordnew)" value="אישור"><br/><br/> -->
</div>


