<div class="Management"><br/><br/>
<h2 class="h2">מנהל יקר כאן תוכל לנהל את האתר </h2><br/><br/>

<!-- <a class="r" (click)="GoToclidonUserManagement()">ניהול משתמשים</a> -->
<!-- <a class="r"  (click)="clidonChangeManagerPassword()">שינוי סיסמת המנהל</a> -->
<input class="r"   (click)="GoToclidonUserManagement()" value="ניהול משתמשים"/><br/><br/>
<input class="r"   (click)="clidonChangeManagerPassword()"  value=" שינוי סיסמת המנהל"/><br/><br/>
<input class="r"   (click)="m()"  value="איזור אישי"/><br/><br/>
</div>
