<div class="u_p_n">
    <h3 class="h3">משתמש יקר , על מנת לשנות את הסיסמא עליך להכניס מספר פרטים חשובים</h3>
    <mat-form-field class="textalain">
      <mat-label> שם פרטי </mat-label>
      <input matInput style="text-align: right;" type="text" #panew [(ngModel)]="user.firstName" /><br/><br/><br/>
     </mat-form-field><br/><br/>
     <mat-form-field class="textalain">
      <mat-label> שם משפחה </mat-label>
      <input matInput style="text-align: right;" type="text" #panew [(ngModel)]="user.lastName" /><br/><br/><br/>
     </mat-form-field><br/><br/>
     <mat-form-field class="textalain">
      <mat-label>סיסמא חדשה </mat-label>
      <input matInput style="text-align: right;" type="password" #panew [(ngModel)]="passwordnew" /><br/><br/><br/>
     </mat-form-field><br/><br/>

     <input class="b" type="button" (click)="CodeUser(user.lastName,user.firstName,passwordnew)"  value=" אישור"/>

    <!-- <input class="b" type="button" (click)="ChangePassword(passwordold,passwordnew)"  value=" אישור"/> -->
<!-- </div>(click)="ChangPassword()" -->
