.u_p_n{
    text-align: center;
}
.h3{
  color: rgb(228, 46, 137);
}
.b{
  color: rgb(228, 46, 137);
  background-color: rgb(250, 192, 219);
  border-color: rgb(228, 46, 137);
}
.textalain{
  text-align: center;
}
