<!-- <div>
    <router-outlet></router-outlet>
</div> -->
<!-- 1 -->
 <!-- דף הבית -->
 <!-- <body style="background-image: url('assets/R.png') ; direction: rtl;background-size: 100%;background-repeat: no-repeat;background-attachment: fixed;position: center;"> -->
 <div class="f">
     <clidon-home ></clidon-home>
     <img  src="assets/logo.png">
</div>
<!-- </body> -->
<!-- <files></files> -->
<!-- <div id="default_title_bar" class="e-de-ctn-title"></div>
<ejs-documenteditorcontainer #documenteditor_ref [serviceUrl]='serviceLink' [enableSpellCheck]=true (created)="onCreate()" (documentChange)="onDocumentChange()" (destroyed)="onDestroy()" style="display:block" height="600"></ejs-documenteditorcontainer> -->

<!-- הוספת מסמך למונגו -->
<!-- <add-document></add-document> -->
<!-- לטפל בחלון זה בולידציה וגם לא מציג את הצבע של כולם -->
<!-- <clidon-change-manager-password></clidon-change-manager-password> -->
  <!-- חלון בחירה -->
  <!-- צריך אותו להכנסת נתונים מהמשתמש בחלון קטן -->
  <!-- <user-management></user-management> -->
<!-- הכיתוב של פתיחת האתר -->
<!-- <child-home-page></child-home-page> -->
<!-- 2 -->
<!-- מסך הרשמה -->
<!-- <clidon-sing-in></clidon-sing-in> -->
<!-- 3 -->
<!-- מסך התחברות מנהל ע"י סיסמתו -->
<!-- <clidon-manager-password></clidon-manager-password> -->
<!-- 4 -->
<!--מסך ניהול האתר-->
<!-- <clidon-management-operations></clidon-management-operations> -->
<!-- 5 -->
<!-- שינוי ססמת המנהל -->
<!-- <clidon-change-manager-password></clidon-change-manager-password> -->
<!-- 6 -->
<!-- מסך הצגת הדף המוקלד -->
<!-- <clidon-typed-page></clidon-typed-page> -->
<!-- 7 -->
<!-- הצגת הקבצים -->
<!-- <clidon-view-files></clidon-view-files> -->
<!-- 8 -->
<!-- מסך תשלום באמצעות paypal ע"י תצוגת חבילות תשלום -->
<!-- מסך זה יוצג רק למי שהוא לא מנהל -->
<!-- <clidon-payment></clidon-payment> -->
<!-- 9 -->
<!-- כניסה לאיזור האישי ע"י סיסמא -->
<!-- <clidon-entrance></clidon-entrance> -->
<!-- 10 -->
<!--  הצגת המשתמשים ופרטיהם ואופציה למחוק או לעדכן -->
<!-- <clidon-user-table></clidon-user-table> -->
<!-- 11 -->
<!-- מסך ניהול משתמשים הוספה עדכון ומחיקה וכן שינוי סוג המשתמש -->
<!-- <clidon-user-management></clidon-user-management> -->
<!-- 12 -->
<!-- שינוי סוג המשתמש-מנהל או רגיל -->
<!-- <clidon-is-manager></clidon-is-manager> -->
<!-- 13 -->
<!-- מסך שמירה בשם של קובץ מוקלד -->
<!-- <clidon-save-a-file></clidon-save-a-file> -->
<!-- 14 -->
<!-- שינוי סיסמת משתמש רגיל -->
<!-- <clidon-change-user-password></clidon-change-user-password> -->
<!-- עיצוב דף הבית -->
<!-- <child-home-page></child-home-page> -->

